@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

// Custom colors
$dark-purple: hsl(237, 63%, 64%);
$card-background-gradient: linear-gradient(150deg, hsl(236, 72%, 79%), $dark-purple);
$white-text: #fff;

// Primary colors
$primary-gradient: linear-gradient(90deg, hsl(236, 72%, 79%), $dark-purple);
// Neutral colors
$very-light-grayish-blue: hsl(240, 78%, 98%);
$light-grayish-blue: hsl(234, 14%, 74%);
$grayish-blue: hsl(233, 13%, 49%);
$dark-grayish-blue: hsl(232, 13%, 33%);


/*==========
DEFAULTS
=========*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: $grayish-blue;
    min-height: 100vh;
    background: url(../images/bg-top.svg) 11.9rem -2.4rem no-repeat;
    background-color: $very-light-grayish-blue;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*==========
COMPONENTS
=========*/
.card {
    background: #fff;
    box-shadow: 0 5px 15px hsla(233, 13%, 49%, 0.3);
    border-radius: 10px;
    padding: 2em;
    text-align: center;

    &__plan {
        font-size: 1rem;
        margin-bottom: 15px;
    }
    &__price {
        color: $dark-grayish-blue;
        display: inline-flex;
        align-items: center;
        column-gap: 5px;
    }
    &__currency {
        font-size: 2.1rem;
    }
    &__amount {
        font-size: 4rem;
    }
    &__list {
        list-style: none;
        margin: 25px 0 35px;
    }
    &__item {
        border-top: 1px solid $light-grayish-blue;
        padding: 15px;
        &:last-child {
            border-bottom: 1px solid $light-grayish-blue;
        }
    }
    &__button {
        border-radius: 5px;
        // border: 1px solid transparent;
        border: 0;
        background: $primary-gradient;
        width: 100%;
        padding: 1.3em 0;
        font-family: 'Montserrat';
        font-size: 0.7rem;
        color: $white-text;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
        }
        &:active {
            background: none;
            border: 1px solid $dark-grayish-blue;
            background-color: transparent;
            color: $dark-purple;
        }
    }
}

.card--primary {
    background: $primary-gradient;
    background: $card-background-gradient;
    color: $white-text;

    .card__price {
        color: $white-text;
    }

    .card__button {
        background: none;
        background-color: #fff;
        color: $dark-purple;
        &:active {
            border: 1px solid #fff;
            background-color: transparent;
            color: $white-text;
        }
    }
}


// ----------- Toggle switch---------------------------
// To modify toggle size,
// please only update the $circle-size variable
$circle-size: 20px;
$toggle-button-width: ($circle-size * 2) + 18px;
$toggle-button-padding: 5px;
$circle-translate: $toggle-button-width - $circle-size - ($toggle-button-padding * 2);

.toggle-switch {
    margin-top: 2.5em;
    display: flex;
    align-items: center;
    column-gap: 20px;

    // Real checkbox hidden
    &__checkbox {
        visibility: hidden;
        position: absolute;
        top: -50px;

        &:checked {
            // ~ selector looks at sibling selector
            // then descend to circle element to style
            ~ .toggle-switch__button {
                .toggle-switch__circle {
                    transform: translate($circle-translate);
                }
           }
        }
    }
    &__button {
        display: inline-block;
        border-radius: 50px;
        width: $toggle-button-width;
        padding: $toggle-button-padding;
        background-image: $primary-gradient;
        cursor: pointer;
    }
     &__circle {
        display: block;
        background-color: #fff;
        border-radius: 50%;
        width: $circle-size;
        height: $circle-size;
        transform: translate(0);
        transition: transform 0.5s ease;
    }
    &:active {
        .toggle-switch__button {
            opacity: 0.6;
        }
    }
}


/*==========
LAYOUT
=========*/
header, main {
    width: 85%;
    min-width: 318px;
    max-width: 1050px;
    text-align: center;
}

header {
    margin: 4em 0 5em;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}



/*==========
DESKTOP
=========*/

@media only screen and (min-width: 1100px) {
    body {
        background: url(../images/bg-top.svg) right top no-repeat,
                url(../images/bg-bottom.svg) left bottom no-repeat;
        background-color: $very-light-grayish-blue;
    }
    header {
        margin: 1em 0 4.3em;
    }

    main {
        flex-direction: row;
        align-items: center;
    }

    .card {
        flex: 1 1 350px;

        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .card--primary {
        padding-top: 4em;
        padding-bottom: 4em;
    }
}